.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.verticalView {
  flex-direction: column;
}

.horizontalView {
  flex-direction: row;
  justify-content: start;
}

.profile_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 160%;

  strong {
    color: var(--white-100);
    font-size: 1.6rem;
    font-weight: bold;
  }

  span {
    color: var(--gray-200);
    font-size: 1.4rem;
  }
}

.profile_information_horizontal_view {
  align-items: start;
  margin-left: rem;
}
