.header {
  height: 10rem;
  width: 100vw;
  background-color: var(--gray-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1, 6rem;
  position: fixed;
  scrollbar-width: 0;
  transition: background-color 2s;
}

.scrolled {
  background-color: rgba(56, 54, 54, 0.6);
}

.header h1 {
  color: var(--blue-300);
  font-weight: bold;
  color: var(--white-100);
}
