.container {
  padding: 4rem;
  background-color: var(--gray-600);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header time {
  color: var(--gray-200);
  font-size: 1.4rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
  gap: 1.6rem;
  border-bottom: 1px solid var(--gray-500);
}

.content p {
  color: var(--gray-300);
  line-height: 2.4rem;
}
.content a {
  margin-top: 1.6rem;
  color: var(--green-500);
  font-weight: bold;
}

form {
  margin-top: 2.4rem;
  gap: 1.6rem;
}

form:focus-within footer {
  visibility: visible;
  max-height: none;
}

form strong {
  color: var(--white-100);
}

form footer {
  visibility: hidden;
  max-height: 0;
  margin: 0;
}
form footer button {
  margin-top: 1.6rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--green-500);
  padding: 1.2rem 3.6rem;
  border-radius: 8px;
  line-height: 1.6rem;
  transition: filter 1s;
}

form footer button:hover {
  filter: brightness(0.5);
}

form textarea {
  display: block;
  height: 9.6rem;
  margin-top: 1.6rem;
  background-color: var(--gray-800);
  resize: none;
  color: var(--gray-100);
  padding: 1.3rem 1.6rem;
  border: 0;
  line-height: 1.4;
  width: 100%;
}

form textarea:placeholder {
  color: var(--gray-100);
}

form textarea:focus {
  color: var(--gray-200);
}
