.actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.6rem;
}

.actions button {
  padding: 1.2rem;
  border-radius: 8px;
  background-color: var(--gray-600);
  color: var(--white);
  transition: all 1s;
}

.actions .btn_save:hover {
  filter: brightness(0.8);
  border: 1px solid var(--green-300);
  color: var(--green-300);
}

.actions .btn_cancel:hover {
  filter: brightness(0.8);
  border: 1px solid rgb(223, 16, 16);
  color: rgb(223, 16, 16);
}
.actions .btn_clean:hover {
  filter: brightness(0.8);
  border: 1px solid rgb(129, 129, 231);
  color: rgb(129, 129, 231);
}
