.container {
}

.content {
  padding: 1.6rem;
}

.profileCard {
  margin: 1.6rem;
  display: flex;
  flex-direction: row;

  gap: 1.6rem;
  flex: 1;
}

.post {
  gap: 1.6rem;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sidebar button.new_post {
  padding: 1.6rem;
  border-radius: 16px;
  background-color: var(--green-300);
  transition: background-color, 1s;
}

.sidebar button.new_post:hover {
  filter: brightness(0.8);
  color: var(--white);
}
