.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  margin-top: 13rem;
  padding: 0 2rem;
}

.profileCard {
  margin: 1.6rem;
  flex: 1;
}

.post {
  flex: 1;
  margin-left: 28rem;
  border-radius: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 35rem;
  position: fixed;
}

.sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sidebar button.new_post {
  padding: 1.6rem;
  border-radius: 16px;
  background-color: var(--green-300);
  transition: background-color, 1s;
}

.sidebar button.new_post:hover {
  filter: brightness(0.8);
  color: var(--white);
}
